.app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    background-color:white;
    border: 2px lightgray solid;
    padding: 7px;
}

.app__logo {
    background-color:lightblue;
    width: 50px;
    height: 50px;
}

.app__header__logo {
    width: 70%;
    height: 50px;
    background-color: white;
}

.app__header__user {
    height: 71px;
    width: 30%;
    background-color: white;
}

.app__header__vertical__line {
    border-left: 6px solid rgb(174, 61, 61);
    height: 71px;
    position: absolute;
    left: 68%;
    margin-left: -3px;
    top: 2;
}